body, html {
    height: 100%; 
      font-family: 'Big Shoulders Stencil Text', cursive;color: white;
  margin: 0px;
  }

.bg-image {
  /* The image used */
  background-image: url("../static/img/bg1.jpg");
 
  /* Add the blur effect */
  filter: blur(10px);/*  */
  -webkit-filter: blur(0px);
  
  /* Full height */
  height: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(78, 78, 78, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
    line-height: 2em;
    border-radius: 20px;
    
  }
  
  .btnn button{
      background-color:#61abb4;
      border-radius: 20px;
      font-family: 'Big Shoulders Stencil Text', cursive;
      color: rgb(124, 124, 124);
      padding-left: 15px;
      padding-right: 15px;	
      border-color: #91cad1;
      
  }
  
  .btnn button:hover{
      background-color:#61abb4;
      color: white;
      transition: 0.5s;
      box-shadow: 2px 2px 2px 2px rgba(129, 129, 129, 0.616);
  }
  
  a {
      color: #5e5e64;
      text-decoration: none;
  
      
  }
  
  a:hover{
      color: #61abb4;
  }